In [2]:
%pip install sqlalchemy
%pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in c:\users\anura\appdata\roaming\python\python312\site-packages (2.0.36)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\anura\appdata\roaming\python\python312\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\anura\appdata\roaming\python\python312\site-packages (from sqlalchemy) (3.1.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\anura\appdata\roaming\python\python312\site-packages (9.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
%pip install pandas

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting pandas
  Using cached pandas-2.2.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.1.3-cp312-cp312-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\anura\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\anura\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.3-cp312-cp312-win_amd64.whl (11.5 MB)
Using cached numpy-2.1.3-cp312-cp312-win_amd64.whl (12.6 MB)
Using cached pytz-2024.2-py2.py3-none-any.whl (508 kB)
Using cached tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.1.3 pandas-2.2.3 pytz-2024.2 tzdata-2024.2

In [15]:
from faker import Faker
import random

fake=Faker()

In [16]:
from sqlalchemy import create_engine,text
engine_script="mysql+mysqlconnector://root:root@localhost:3306/EDA_Assignment_5"
engine = create_engine(engine_script,echo=True)

In [19]:
# Query List
create_table_query = """Create table if not exists SampleFakerData (
                                customer_id int, 
                                customer_name varchar(30),
                                product_id int,
                                purchase_date datetime,
                                quantity int,
                                price_per_unit float,
                                region varchar(20)
                                )"""

In [20]:
with engine.connect() as conn:
    conn.execute(text(create_table_query))

2024-11-27 22:14:10,745 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-27 22:14:10,747 INFO sqlalchemy.engine.Engine Create table if not exists SampleFakerData (
                                customer_id int,
                                customer_name varchar(30),
                                product_id int,
                                purchase_date datetime,
                                quantity int,
                                price_per_unit float,
                                region varchar(20)
                                )
2024-11-27 22:14:10,748 INFO sqlalchemy.engine.Engine [cached since 64.5s ago] {}
2024-11-27 22:14:10,786 INFO sqlalchemy.engine.Engine ROLLBACK

In [22]:
import pandas as pd

In [23]:
num_rows=200
region_list=["North","South","East","West"]
# region=[random.choice(region_list) for _ in range(num_rows)]
# print(region)

In [24]:
data={
    'customer_id':[id for id in range(1000,1200)],
    'customer_name' : [fake.name() for _ in range(num_rows)],  # _ indicates throwaway variable
    'product_id' : [random.randint(1,20) for _ in range(num_rows)],
    'purchase_date' : [fake.date_between(start_date="-1y",end_date="today") for _ in range(num_rows)], # date_between helps generate fake data from today to past 1 year
    'quantity' : [random.randint(1,10) for _ in range(num_rows)],
    'price_per_unit' : [round(random.uniform(10.0,100.0),2) for _ in range(num_rows)],
    'region' : [random.choice(region_list) for _ in range(num_rows)]
}

FakerData_df=pd.DataFrame(data)

In [26]:
# pushing data to SQL Database
FakerData_df.to_sql('SampleFakerData2',con=engine,if_exists='replace',index=False)
print("Data transferred successfully to MySQL")

2024-11-27 22:15:54,920 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-27 22:15:54,925 INFO sqlalchemy.engine.Engine DESCRIBE `eda_assignment_5`.`SampleFakerData2`
2024-11-27 22:15:54,927 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-11-27 22:15:54,935 INFO sqlalchemy.engine.Engine
CREATE TABLE `SampleFakerData2` (
	customer_id BIGINT,
	customer_name TEXT,
	product_id BIGINT,
	purchase_date DATE,
	quantity BIGINT,
	price_per_unit FLOAT(53),
	region TEXT
)


2024-11-27 22:15:54,939 INFO sqlalchemy.engine.Engine [no key 0.00439s] {}
2024-11-27 22:15:54,984 INFO sqlalchemy.engine.Engine INSERT INTO `SampleFakerData2` (customer_id, customer_name, product_id, purchase_date, quantity, price_per_unit, region) VALUES (%(customer_id)s, %(customer_name)s, %(product_id)s, %(purchase_date)s, %(quantity)s, %(price_per_unit)s, %(region)s)
2024-11-27 22:15:54,985 INFO sqlalchemy.engine.Engine [generated in 0.00379s] [{'customer_id': 1000, 'customer_name': 'Rachael Anderson', 'product_id': 19, 'purchase_date': datetime.date(2024, 9, 22), 'quantity': 10, 'price_per_unit': 24.92, 'region': 'South'}, {'customer_id': 1001, 'customer_name': 'Andrew Arnold', 'product_id': 4, 'purchase_date': datetime.date(2023, 12, 16), 'quantity': 3, 'price_per_unit': 58.41, 'region': 'East'}, {'customer_id': 1002, 'customer_name': 'Jason Andersen', 'product_id': 4, 'purchase_date': datetime.date(2024, 7, 1), 'quantity': 7, 'price_per_unit': 99.57, 'region': 'South'}, {'customer_id': 1003, 'customer_name': 'Joanne Collins', 'product_id': 18, 'purchase_date': datetime.date(2024, 6, 20), 'quantity': 5, 'price_per_unit': 31.95, 'region': 'North'}, {'customer_id': 1004, 'customer_name': 'Cristian Cross', 'product_id': 19, 'purchase_date': datetime.date(2024, 8, 2), 'quantity': 4, 'price_per_unit': 69.11, 'region': 'East'}, {'customer_id': 1005, 'customer_name': 'Brittany Sanchez', 'product_id': 4, 'purchase_date': datetime.date(2024, 3, 7), 'quantity': 7, 'price_per_unit': 20.81, 'region': 'West'}, {'customer_id': 1006, 'customer_name': 'Anthony Wilson', 'product_id': 3, 'purchase_date': datetime.date(2024, 2, 3), 'quantity': 4, 'price_per_unit': 34.6, 'region': 'West'}, {'customer_id': 1007, 'customer_name': 'William Richardson', 'product_id': 4, 'purchase_date': datetime.date(2024, 3, 24), 'quantity': 2, 'price_per_unit': 35.01, 'region': 'West'}  ... displaying 10 of 200 total bound parameter sets ...  {'customer_id': 1198, 'customer_name': 'Caleb Baker', 'product_id': 17, 'purchase_date': datetime.date(2024, 9, 21), 'quantity': 6, 'price_per_unit': 88.88, 'region': 'East'}, {'customer_id': 1199, 'customer_name': 'Laurie Nash', 'product_id': 6, 'purchase_date': datetime.date(2024, 5, 20), 'quantity': 8, 'price_per_unit': 28.48, 'region': 'East'}]
2024-11-27 22:15:55,009 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `eda_assignment_5`
2024-11-27 22:15:55,011 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-11-27 22:15:55,015 INFO sqlalchemy.engine.Engine COMMIT
Data transferred successfully to MySQL

C:\Users\anura\AppData\Local\Temp\ipykernel_17124\1072947547.py:2: UserWarning: The provided table name 'SampleFakerData2' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  FakerData_df.to_sql('SampleFakerData2',con=engine,if_exists='replace',index=False)

In [27]:
# Closing connection
engine.dispose()