In [2]:
%pip install sqlalchemy
%pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in c:\users\anura\appdata\roaming\python\python312\site-packages (2.0.36)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\anura\appdata\roaming\python\python312\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\anura\appdata\roaming\python\python312\site-packages (from sqlalchemy) (3.1.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\anura\appdata\roaming\python\python312\site-packages (9.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [40]:
from sqlalchemy import create_engine,text
engine_script="mysql+mysqlconnector://root:root@localhost:3306/EDA_Assignment_5"
engine = create_engine(engine_script,echo=True)

In [43]:
# Query List
create_table_query = """Create table if not exists SampleFakerData (
                                customer_id int, 
                                customer_name varchar(30),
                                product_id int,
                                purchase_date datetime,
                                quantity int,
                                price_per_unit float,
                                region varchar(20)
                                )"""

In [44]:
with engine.connect() as conn:
    conn.execute(text(create_table_query))

2024-11-27 20:29:19,061 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-11-27 20:29:19,062 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-11-27 20:29:19,064 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-11-27 20:29:19,065 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-11-27 20:29:19,067 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-11-27 20:29:19,068 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-11-27 20:29:19,070 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-27 20:29:19,070 INFO sqlalchemy.engine.Engine Create table if not exists SampleFakerData (
                                customer_id int,
                                customer_name varchar(30),
                                product_id int,
                                purchase_date datetime,
                                quantity int,
                                price_per_unit float,
                                region varchar(20)
                                )
2024-11-27 20:29:19,071 INFO sqlalchemy.engine.Engine [generated in 0.00138s] {}
2024-11-27 20:29:19,096 INFO sqlalchemy.engine.Engine ROLLBACK

In [ ]:
from GeneratingData import